$highlightWidth: 5px;

@mixin stretch-box($position: absolute) {
	position: $position;
	left: 0;
	right: 0;
	padding: 0 10px;
}
@mixin absolute-center($height) {
	position: absolute;
	top: 50%;
	height: $height;
	line-height: $height;
	margin-top: $height / -2;
	text-align: center;
}

#switchtab {
	width: 400px;
	height: 400px;
	/* hiding the overflow lets us set the height for 
	 * proper window sizing but not care about it for 
	 * scrolling */
	overflow: hidden;
	font-family: sans-serif;
	margin-top: 50px;
}

#filter {
	@include stretch-box;
	top: 0;
	z-index: 3;
	background: white;
	padding: 10px 10px 0;

	input {
		width: 100%;
		height: 36px;
		box-sizing: border-box;
		font-size: 18px;
		padding: 4px 50px 4px 6px;
	}

	.label {
		@include absolute-center(20px);
		right: 10px;
		min-width: 22px;
		padding: 0 6px;
		border-radius: 15px;

		font-size: 12px;
		background: #999;
		color: white;

		cursor: pointer;
	}
}

#tabs {
	@include stretch-box;
	top: 56px;
	bottom: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

.container { position: relative; }

.tab {
	display: block;
	width: 100%;
	position: relative;
	box-sizing: border-box;

	color: #333;
	padding: 5px 0 5px 5px;
	font-size: 14px;
	line-height: 18px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #ccc;

	/* last-child gets special border */
	&:last-child {
		border-bottom: 1px solid gray;
	}

	/* highlight active tab ([enter] to select active tab) */
	&.active {
		color: white;
		background: orange;
		border-left: $highlightWidth solid darken(orange, 8%);
		margin-top: 0;
		.close {
			visibility: visible;
		}
	}

	.close {
		visibility: hidden;
		position: absolute;
		right: 5px;
		padding: 5px;
		background: rgba(255,255,255,0.25);
		border-radius: 20px;
	}
	.close:hover { color: red; }

	.favicon {
		width: 16px;
		height: 16px;
		vertical-align: middle;
		margin-right: 8px;
		margin-left: 4px;
	}

	.details {
		display: inline-block;
		max-width: 90%;
		vertical-align: middle;
	}

	.title {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: bold;
	}

	.url {
		font-weight: normal;
	}

}
