body {
  width: 400px;
  overflow-x: hidden;
  font-family: sans-serif;
  margin-top: 50px; }

#filter {
  position: fixed;
  top: 8px; }
  #filter input {
    width: 400px;
    height: 36px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 4px 6px; }
  #filter .label {
    position: absolute;
    top: 18px;
    right: 10px;
    height: 18px;
    min-width: 18px;
    padding: 2px 6px;
    margin-top: -11px;
    border-radius: 15px;
    background: #999;
    color: white;
    font-size: 12px;
    line-height: 18px;
    text-align: center; }

#tabs {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden; }

.tab {
  display: block;
  max-width: 370px;
  position: relative;
  color: #333;
  padding: 5px;
  padding-top: 6px;
  font-size: 14px;
  line-height: 18px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #ccc; }
  .tab .close {
    visibility: hidden;
    position: absolute;
    right: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px; }
  .tab .close:hover {
    color: red; }
  .tab .favicon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 4px; }
  .tab .details {
    display: inline-block;
    max-width: 90%;
    vertical-align: middle; }
  .tab .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold; }
  .tab .url {
    font-weight: normal; }

.tab:last-child {
  border-bottom: 1px solid gray; }

/* highlight active tab ([enter] to select active tab) */
.tab.active {
  color: white;
  background: orange;
  border-left: 5px solid #d68b00;
  margin-top: 0; }
  .tab.active .close {
    visibility: visible; }
