body {
  width: 400px;
  overflow-x:hidden;
  font-family: sans-serif;
}

input {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  padding: 4px 6px;
}

.tab {
  display: block;
  max-width: 370px;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
}
.tab + .tab {
  border-top: 1px solid gray;
}
.tab:hover {
  background: #eee;
}

.tab .favicon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
}

.tab .details {
  display: inline-block;
  max-width: 93%;
  vertical-align: middle;
}

.tab .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.tab .url {
  font-weight: normal;
}