$highlightWidth: 5px;

#switchtab {
	width: 400px;
	overflow-x:hidden;
	font-family: sans-serif;
	margin-top: 50px;
}

#filter {
	position: fixed;
	top: 8px;

	input {
		width: 400px;
		height: 36px;
		box-sizing: border-box;
		font-size: 18px;
		padding: 4px 42px 4px 6px;
	}

	.label {
		position: absolute;
		top: 18px;
		right: 10px;
		height: 18px;
		min-width: 18px;
		padding: 2px 6px;
		margin-top: -11px;
		border-radius: 15px;

		background: #999;
		color: white;
		font-size: 12px;
		line-height: 18px;
		text-align: center;

		cursor: pointer;
	}
}

#tabs {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

.tab {
	display: block;
	max-width: 370px;
	position: relative;

	color: #333;
	padding: 5px;
	padding-top: 6px;
	font-size: 14px;
	line-height: 18px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #ccc;

	/* last-child gets special border */
	&:last-child {
		border-bottom: 1px solid gray;
	}

	/* highlight active tab ([enter] to select active tab) */
	&.active {
		color: white;
		background: orange;
		border-left: $highlightWidth solid darken(orange, 8%);
		margin-top: 0;
		.close {
			visibility: visible;
		}
	}

	.close {
		visibility: hidden;
		position: absolute;
		right: 5px;
		padding: 5px;
		background: rgba(255,255,255,0.25);
		border-radius: 20px;
	}
	.close:hover { color: red; }

	.favicon {
		width: 16px;
		height: 16px;
		vertical-align: middle;
		margin-right: 8px;
		margin-left: 4px;
	}

	.details {
		display: inline-block;
		max-width: 90%;
		vertical-align: middle;
	}

	.title {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: bold;
	}

	.url {
		font-weight: normal;
	}

}
