body {
	width: 400px;
	overflow-x:hidden;
	font-family: sans-serif;
	margin-top: 50px;
}

input {
	width: 400px;
	box-sizing: border-box;
	font-size: 18px;
	padding: 4px 6px;
	position: fixed;
	top: 5px;
}

#tabs {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

.tab {
	display: block;
	max-width: 370px;
	position: relative;

	color: #333;
	padding: 5px;
	padding-top: 6px;
	font-size: 14px;
	line-height: 18px;
	border-top: 1px solid gray;
	// border-bottom: 1px solid whitesmoke;

	.close {
		visibility: hidden;
		position: absolute;
		right: 5px;
		padding: 5px;
		background: rgba(255,255,255,0.25);
		border-radius: 20px;
	}
	.close:hover { color: red; }

	.favicon {
		width: 16px;
		height: 16px;
		vertical-align: middle;
		margin-right: 8px;
		margin-left: 4px;
	}

	.details {
		display: inline-block;
		max-width: 90%;
		vertical-align: middle;
	}

	.title {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: bold;
	}

	.url {
		font-weight: normal;
	}
}
.tab:last-child {
	border-bottom: 1px solid gray;
}

/* highlight hovered tab and first tab ([enter] to select first tab) */
$highlightWidth: 4px;
.tab.active {
	background: #ddd;
	border-left: $highlightWidth solid orange;
	// margin-left: -$highlightWidth;
	margin-top: 0;
	.close {
		visibility: visible;
	}
}
