$width: 400px;
$height: 400px;
$filterHeight: 67px;
$heightBuffer: 6px;

$highlightWidth: 6px;

$orange: orange;

@mixin stretch-box($position: absolute) {
	position: $position;
	left: 0;
	right: 0;
	padding: 0 10px;
}
@mixin absolute-center($height) {
	position: absolute;
	top: 50%;
	height: $height;
	line-height: $height;
	margin-top: $height / -2;
	text-align: center;
}

@mixin transition($arguments...) {
	-webkit-transition: $arguments;
	transition: $arguments;
}

.container { position: relative; }

.disable-hover { pointer-events: none; }

.table-row {
    display: table;
    overflow: hidden;

    & > .fixed,
    & > .variable {
        position: relative;
        display: table-cell;
        vertical-align: top;
    }

    .fixed    { width: 0; }
    .variable { width: 100%; }
}

#switchtab {
	width: $width;
	height: $height;
	/* hiding the overflow lets us set the height for
	 * proper window sizing but not care about it for
	 * scrolling */
	overflow: hidden;
	font-family: sans-serif;
}

#filter {
	@include stretch-box;
	top: 0;
	z-index: 3;
	background: white;
	margin: 10px 10px 0;
	padding: 10px;

	border-radius: $highlightWidth;
	box-shadow: 0px 0px ($highlightWidth / 2) rgba(0,0,0,0.7);

	.prompt {
		font-size: 18px;
		color: gray;
		padding: 2px 0;
	}

	input {
		width: 280px;
		font-size: 18px;
		box-sizing: border-box;
		padding: 2px;
		margin: 0;

		outline: none;
		border: none;
		@include transition(border-color .3s ease);
		border-bottom: 2px solid #ccc;
		&:focus { border-color: $orange; }

	}

	.label {
		@include absolute-center(20px);
		right: 10px;
		min-width: 22px;
		padding: 0 6px;
		border-radius: 15px;

		font-size: 12px;
		background: #999;
		color: white;

		cursor: pointer;
		@include transition(background .3s ease);
	}
}

#tabs {
	@include stretch-box;
	top: $filterHeight;
	max-height: $height - $filterHeight + $heightBuffer;
	overflow-x: hidden;
	overflow-y: auto;

	&:empty:before {
		content: 'Loading...';
		display: block;
		text-align: center;
		padding: 2em;
	}

	.window {
		margin-top: 5px;
		margin-bottom: 10px;
		border-radius: $highlightWidth;
		box-shadow: 0px 0px $highlightWidth rgba(0,0,0,0.7);
		border: 1px solid rgba(0,0,0,0.4);
	}

	.tab {
		display: block;
		width: 100%;
		height: 3px;
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		background: #f3f3f3;

		color: #333;
		font-size: 14px;
		line-height: 18px;
		border-bottom: 1px solid #ccc;
		padding: 0 10px;

		@include transition(all .3s ease);

		&:first-child {
			border-radius: $highlightWidth $highlightWidth 0 0;
		}

		/* last-child has no border and loses a pixel of height */
		&:last-child {
			height: 2px;
			border-bottom: none;
			border-radius: 0 0 $highlightWidth $highlightWidth;
		}

		/* highlight active tab ([enter] to select active tab) */
		&.active {
			background: $orange;
			margin-top: 0;
			.close {
				visibility: visible;
			}
		}

		&.match {
			height: 48px;
		}

		.close {
			visibility: hidden;
			position: absolute;
			right: 5px;
			padding: 5px;
			background: rgba(255,255,255,0.25);
			border-radius: 20px;
		}
		.close:hover { color: red; }

		.favicon {
			width: 16px;
			height: 16px;
			vertical-align: middle;
			margin: 5px;
		}

		.details {
			display: inline-block;
			margin: 5px;
			max-width: 89%;
			vertical-align: middle;
		}

		.title {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-weight: bold;
		}

		.url {
			font-weight: normal;
		}

	}

	.footer {
		text-align: center;
		color: #999;
		padding: 3px;
		font-size: 14px;
	}
}
